.post_form {
    width: 80%;
   
}


.post_form > textarea {
    height: 100px;
    border-radius: 7px;
    background-color: rgb(53, 52, 52);
    color: white;
}

.post_form > input {
    background-color: rgb(53, 52, 52);
    color: white;
    border-color: grey;
    border-radius: 7px;
}

